.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
.ima {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-right: 0.75rem;
}
.flex {
  display: flex;
  align-items: center;
  margin-left: 1.7rem;
  margin-bottom: 0.5rem;
}
.flex p{
  margin-top: -12px;
}
.main-sec{
  background: white;
  width: 70%;
  margin: 0 auto;
  padding: 14px;
}
button{
 width: 80%;
 background: plum;
 border: none;
 padding: 0.5rem;
border-radius: 8px;
margin-left: 1.7rem;
margin-top: 0.7rem;
margin-bottom: 0.4rem;
color: white;
}
button:hover{
  cursor: pointer;
}
.title{
  margin-left: 1.7rem;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (min-width:760px) {
  .main-sec{
    width: 50%;
  }
}